name: CI

on:
  push:
    branches: [ main ]   # или main, если твоя ветка называется main
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Say hello
        run: echo "Hello, GitHub Actions!"
